.main-menu .menu-marker {
	background: #e66f66;
}

.main-menu li ul a:hover,
.main-menu li ul li:hover > a {
	color: #e66f66;
}

.top-bar.expanded .title-area .menu-icon a {
	color: #e66f66;
}

.top-bar.expanded .title-area .menu-icon a span {
	-webkit-box-shadow: 0 10px 0 1px #e66f66 , 0 16px 0 1px #e66f66 , 0 22px 0 1px #e66f66;
	box-shadow: 0 10px 0 1px #e66f66 , 0 16px 0 1px #e66f66 , 0 22px 0 1px #e66f66;
}

.top-bar-section a:hover,
.top-bar-section .dropdown li.title h5 a:hover {
	color: #e66f66;
}

.slider-controller:hover,
.uxb-port-slider-controller:hover {
    background: #e66f66  !important;
}

#content-container a {
	color: #e66f66;
}

#content-container h1 span,
#content-container h2 span,
#content-container h3 span,
#content-container h4 span,
#content-container h5 span,
#content-container h6 span {
	color: #e66f66;
}

.has-line {
	border-color: #e66f66;
}

#intro h1 span,
#intro h2 span {
	color: #e66f66;
}

.uxb-port-element-item-hover {
	background: #e66f66;
}

#footer-root-container a:hover {
	color: #e66f66;
}

#content-container .blog-title a:hover {
	color: #e66f66;
}

#content-container #sidebar-wrapper a:hover {
	color: #e66f66;
}

#content-container #author-info h3 {
    color: #e66f66;
}

#content-container .tags a:hover {
	border-color: #e66f66;
	color: #e66f66;
}

#content-container .blog-element-title a:hover {
	color: #e66f66;
}

#content-container blockquote {
	border-left-color: #e66f66;
}

#content-container blockquote cite {
	color: #e66f66;
}

#root-container .button:hover {
    border-color: #e66f66;
    color: #e66f66;
}

.flex-control-paging li a.flex-active {
    background: #e66f66;
}

#content-container .uxb-team-name a:hover {
	color: #e66f66;
}

#uxb-team-info {
	border-bottom-color: #e66f66;
}

#root-container #content-container .uxb-tmnl-testimonial-item .uxb-tmnl-cite,
#root-container #footer-content .uxb-tmnl-testimonial-item .uxb-tmnl-cite {
	color: #e66f66;
}

#content-container .uxb-tmnl-testimonial-bullets a.selected,
#content-container #sidebar-wrapper .uxb-tmnl-testimonial-bullets a.selected,
#footer-content .uxb-tmnl-testimonial-bullets a.selected {
	border-color: #e66f66;
}

.gallery-wrapper .gallery-item:hover {
	border-color: #e66f66;
}

#content-container .ui-accordion-header.ui-state-active {
	border-color: #e66f66;
}

#content-container .ui-accordion .ui-accordion-header.ui-state-active a {
	color: #e66f66;
}

.section-container.tabs > section.active > .title, 
.section-container.tabs > .section.active > .title,
.section-container.auto > section.active > .title,
.section-container.auto > .section.active > .title {
	border-top-color: #e66f66; 
}

.section-container.vertical-tabs > section.active > .title, 
.section-container.vertical-tabs > .section.active > .title {
	border-left-color: #e66f66;
}

.cta-box.bottom-line {
    border-bottom-color: #e66f66;
}

.cta-box.top-line {
    border-top-color: #e66f66;
}

.cta-box.left-line {
    border-left-color: #e66f66;
}

.cta-box.right-line {
    border-right-color: #e66f66;
}

span.dropcap.custom {
	background: #e66f66;
}

span.highlight.custom {
	background: #e66f66;
}

#footer-content .tags-widget a:hover,
#content-container #sidebar-wrapper .tagcloud a:hover,
#root-container #footer-content .tagcloud a:hover {
	border-color: #e66f66;
	color: #e66f66 !important;
}

#content-container .cta-box-button .button.solid-color {
	background: #e66f66  !important;
}

#root-container #sidebar-wrapper .flickr_badge_image a:hover,
#root-container #footer-content .flickr_badge_image a:hover {
	border-color: #e66f66;
}

input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="date"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="time"]:focus,
  input[type="url"]:focus,
  textarea:focus,
  select:focus,
#root-container .input-text:focus {
   border-color: #e66f66; 
}


::-moz-selection {
	background: #e66f66;
}

::selection {
	background: #e66f66;
}


@media only screen and (max-width: 767px) {
	.section-container.vertical-tabs > section.active > .title, 
	.section-container.vertical-tabs > .section.active > .title {
		border-top-color: #e66f66  !important;
	}
}




/***** WooCommerce *****/
.woocommerce div.product span.price,.woocommerce div.product p.price,.woocommerce #content div.product span.price,.woocommerce #content div.product p.price,.woocommerce-page div.product span.price,.woocommerce-page div.product p.price,.woocommerce-page #content div.product span.price,.woocommerce-page #content div.product p.price,
#content-container .added_to_cart:hover,
.product_list_widget span.amount,
#root-container .price_slider_wrapper .button:hover,
.cart-tab .amount,
.widget_shopping_cart_content .total .amount {
	color: #e66f66;
}

#wooc-content-container .woocommerce-tabs .tabs > li.active {
	border-top-color: #e66f66;
}

.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce #respond input#submit:hover,.woocommerce #content input.button:hover,.woocommerce-page a.button:hover,.woocommerce-page button.button:hover,.woocommerce-page input.button:hover,.woocommerce-page #respond input#submit:hover,.woocommerce-page #content input.button:hover,
#root-container #sidebar-wrapper .widget_shopping_cart_content .button:hover,
#root-container #footer-content .widget_shopping_cart_content .button:hover {
	border-color: #e66f66;
    color: #e66f66;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
	background:#e66f66;
}